@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400i,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

:root {
  --background: #FFFCF9;
  --text: #454545;
/*
  --accent2: #00Bede;
  --accent1: #EA5D4B;
*/
  --accent1: rgb(220, 36, 31);
  --accent2: rgb(0, 152, 216);
}

html, body {
  width: 100%;
}

nav, h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

h1.projects-main-title {
  text-align: center;
}

html {
  box-sizing: border-box;
  color: var(--text);
  background: var(--accent2);
  text-rendering: optimizeLegibility;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  background: var(--background);
  padding-bottom: 20px;
  padding-top: calc(10px + 2vh);
  border-top: 1.5vh solid var(--accent2);
  border-bottom: 1.5vh solid var(--accent2);
}

nav {
  box-sizing: border-box;
  display: block;
  width: 100%;
  text-align: right;
  padding-top: calc(10px + 0.7vh);
  padding-right: calc(5vw + 0.5em + 0.25vw);;
  font-size: calc(8pt + 1vw);
}

a {
  text-decoration: none;
  color: var(--text);
}

nav > a {
  margin-left: 10px;
  font-weight: 800;
  text-transform: uppercase;
  transition: ease all 0.2s;
}

.blog-link:hover,
.twitter-link:hover,
 li:nth-child(2n)>a:hover {
  color: var(--accent1);
}

.home-link:hover,
.mail-link:hover,
.cv-link:hover,
 li:nth-child(2n + 1)>a:hover {
  color: var(--accent2);
}

.heading {
  text-align: center;
}

h1 {
  font-size: calc(20pt + 2.5vw);
  font-weight: 800;
  margin: 10vh 15px 0 15px;
  text-transform: uppercase;
}

h2 {
  font-size: calc(12pt + 2vw);
  text-transform: uppercase;
  font-weight: 800;
  max-width: 80vw;
  display: block;
}

section {
  width: 80vw;
  max-width: 800px;
  margin: calc(10px + 5vmin) auto 0 auto;
}

h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: calc(10pt + 1.5vw);
  letter-spacing: 0.5px;
}

section > p {
  font-family: "Lora", serif;
  font-size: calc(10pt + 0.5vw);
  line-height: 1.6;
}

.name {
  font-weight: bold;
}

::selection {
  background: var(--accent2);
}

/*:not(p)::selection {*/
/*  background: none;*/
/*}*/

.contact-methods {
  padding: 0;
  list-style-type: none;
  margin-top: 75px;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.contact-methods li {
  display: inline;
  margin: 7px;
}


.findme {
  margin-bottom: 25px;
}

li.navigation > a {
  font-size: 12pt;
  font-family: "Arial", sans-serif;
}


/**
 * Draggable tubes!
 * This is the bit that'll probably break everything!
 */
.metro {
  position: relative;
  height: 5vh;
  width: 90vw;
  padding: 0;
  margin: 0 auto;
}

.metro > .line {
  position: absolute;
  width: 100%;
  top: calc(2.5vh - 0.75vh);
  height: 1.3vh;
}

.top.metro > .line {
  background: var(--accent1);
}

.bottom.metro > .line {
  background: var(--accent2);
}

.metro > .left.station {
  position: absolute;
  width: calc(0.5em + 0.25vw);
  height: 3vh;
  left: 0;
  top: 1vh;
}

.top.metro > .left.station {
  background: var(--accent1);
}

.bottom.metro > .left.station {
  background: var(--accent2);
}

.metro > .right.station {
  position: absolute;
  width: calc(0.5em + 0.25vw);
  height: 3vh;
  top: 1vh;
  right: 0;
}

.top.metro > .right.station {
  background: var(--accent1);
}

.bottom.metro > .right.station {
  background: var(--accent2);
}

.metro > .car {
  width: 30px;
  height: 2vh;
  position: absolute;
  left: 1vw;
  top: 1.42vh;
  transform: translateZ(0);
}

.top.metro > .car {
  background: var(--accent1);
}

.bottom.metro > .car {
  background: var(--accent2);
}

.top-white-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: white;
}

.project-title {
  font-size: calc(5pt + 3vw);
  color: var(--accent1);
  margin-left: 10vw;
}

.section-title {
  color: var(--accent2);
}

.project-description {
  font-family: "Lora";
  line-height: 1.5;
  margin-right: 30px;
  padding-bottom: 0px;
/*   text-align: center; */
  max-width: 60vw;
  margin: 3vh auto;

}

.project-image {
  width: 60vw;
  justify-self: center;
  height: auto;
}

.right {
  justify-self: center;
}

.grid {
  display: grid;
  grid-template-areas: "picture" "description";
  grid-template-columns: 1fr;
}

.right {
  grid-area: picture;
  align-self: center;
}

.left {
  grid-area: description;
}

.project {
  margin-bottom: 50px;
}

.section-title {
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  cursor: pointer;
  user-select: none;
}

.collapsed,.expanded {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.collapsed > .section-title {
  margin-top: 0;
  margin-bottom: 0;
}

.collapsed > .section-title:before {
  content: "+  ";
}

.expanded > .section-title:before {
  content: "\2013  ";  /* Equivalent to &ndash; */
}


@media (min-width: 700px) {
  .grid {
    grid-template-areas: "description picture";
    grid-template-columns: 15fr 6fr;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    align-self: center;
  }
  
  .project-title {
    font-size: calc(8pt + 1.2vw);
    margin-left: 0;
    margin-bottom: 0;
  }
  
  .project-description {
    text-align: left;
    display: flex;
    align-self: center;
    align-content: center;
    max-width: inherit;
    margin-right: 30px;
  }
  
  .expanded > .section-title {
    margin-bottom: 5vh; 
  }
  
  .project {
    margin-bottom: 5vh;
  }
}

img {
  border-radius: 1%;
  box-shadow: 0 0 5px lightgrey;
}

.projects-intro {
  margin-bottom: 7vh;
}


.more-projects {
  font-family: "Lora", serif;
  font-size: calc(10pt + 0.5vw);
  line-height: 1.6;
  margin-top: 3em;
}

.more-projects ul {
  margin-top: 0.5em;
}

.more-projects ul a {
  font-weight: bold;
}