:root {
  --background: #FFFCF9;
  --text: #454545;
/*
  --accent1: #00Bede;
  --accent2: #EA5D4B;
*/
  --accent1: rgb(0, 152, 216);
  --accent2: rgb(220, 36, 31);
}

html, body {
  width: 100%;
}

nav, h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
  /* This sets a nice scrolling colour! */
  color: var(--text);
  background: var(--accent1);
   /*border-top: 5px solid var(--accent2);*/
/*   border-bottom: 5px solid var(--accent2); */
  text-rendering: optimizeLegibility;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  background: var(--background);
  padding-bottom: 20px;
  padding-top: calc(10px + 2vh);
   border-top: 1.5vh solid var(--accent1);
   border-bottom: 1.5vh solid var(--accent1);
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: calc(25px + 10vmin) auto 0 auto;
}

nav {
  box-sizing: border-box;
  display: block;
  width: 100%;
  text-align: right;
  padding-top: calc(10px + 0.7vh);
  padding-right: calc(5vw + 0.5em + 0.25vw);
  font-size: calc(8pt + 1vw);
}

a {
  text-decoration: none;
  color: var(--text);
}

nav > a {
  margin-left: 10px;
  font-weight: 800;
  text-transform: uppercase;
  transition: ease all 0.2s;
}

.home-link:hover,
.blog-link:hover,
.twitter-link:hover,
.mail-link:hover,
.cv-link:hover,
a:hover {
  color: var(--accent1);
  transition: ease all 0.1s;
}

heading {
  text-align: center;
}

h1 {
  font-size: calc(20pt + 2.5vw);
  font-weight: 800;
  margin: 15px;
  text-transform: uppercase;
}

h2 {
  font-size: calc(12pt + 2vw);
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 800;
  max-width: 80vw;
  display: block;
}

section {
  width: 80vw;
  max-width: 650px;
  margin: calc(25px + 10vmin) auto 0 auto;
}

h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: calc(10pt + 1.5vw);
  letter-spacing: 0.5px;
}

section > p {
  font-family: "Lora";
  font-size: calc(10pt + 0.5vw);
  line-height: 1.6;
}

.name {
  font-weight: bold;
}

::selection {
  background: var(--accent2);
}

:not(:p)::selection {
  background: none;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-top: 75px;
  text-align: center;
}

li {
  display: inline;
  margin: 7px;
}


.findme {
  margin-bottom: 25px;
}

li > a {
  font-size: 12pt;
  font-family: "Arial", sans;
}

.keybase-link {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-skip-ink: none;
}